
@{
    Layout = null;
}

<!DOCTYPE html>

<h1>Burası Şehirler Sayfası</h1>
<table>
    <tr>
        <th>#</th>
        <th>Ülke</th>
        <th>Şehir</th>
        <th>Nüfus</th>

    </tr>
    <tr>
        <td>@ViewBag.v1</td>  
        <td>@ViewBag.v2</td>
        <td>@ViewBag.v3</td>
        <td>@ViewBag.v4</td>
    </tr>
</table>